<div class="m-3">
  <p class="p-1"><%= params[:question] %></p>
  <p class="p-1"><%= @answer %></p>
  <p class="p-1"><%= link_to "Ask another question", "/ask", class: "btn btn-primary" %></p>
</div>
