<div class="m-3">
  <div class="p-1"><%= params[:question] %></div>
  <div class="p-1"><%= @answer %></div>
  <div class="p-1"><%= link_to "Ask another question", "/ask", class: "btn btn-primary" %></div>
</div>
