<div class="m-3">
  <p class="p-1">Ask your coach...</p>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="question" class="form-control p-1">
    <input type="submit" value="Ask!" class="btn btn-primary p-1">
  </form>
</div>
